/* CSS RESET */

*, *::after, *::before{
	box-sizing: border-box;
}

:root{
	--font-title: Ubuntu, Helvetica, Arial, sans-serif;;
	--font-regular:Open Sans, Cambria, Georgia, serif;;

	--color-neutral-lighter: #e5e5ea;
	--color-neutral-light: #aeaeb2;
	--color-neutral-mediumer: #8E8E93;
	--color-neutral-medium: #788578;
	--color-neutral-dark: #304830;

	--color-main-light: #e4fcd1;
	--color-main-medium: #6dd21d;
	--color-main-dark: #234905;
	
	--color-black: #000;
	--color-white: #fff;
	--color-yellow: #ffc000;
	--color-blue: #0a84ff;

    --color-waring: #ff453a;

	--header-height: 3rem;
	--line-height: 2rem;
}

body{
	margin:0;
	font-size: 100%;
	font-family: var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: var(--font-title);
    margin: 0;
}

p{
    margin: 0;
}

a{
	color: inherit;
	text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.call-to-action-button{
    font-weight: bold;
    color: var(--color-blue);
}

/* Layout Classes */

.hidden { display: none; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display: inline-block; }

.flex-strech { flex: 1 1 auto; }
.flex-auto { flex: auto; }
.flex-none { flex: none; }


.flex-align-start { align-items:start;}
.flex-align-center { align-items:center;}
.flex-align-flex-end { align-items:flex-end;}
.flex-justify-center { justify-content:center;}
.flex-justify-around { justify-content:space-around;}
.flex-justify-end {justify-content: flex-end;}
.flex-align-self-center { align-self:center;}
.flex-align-self-end { align-self:flex-end;}

.flex-column { flex-direction: column;}

.overscroll{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-lighter);
    margin: 1em 0em;
}

.font-weight-normal{
    font-weight: normal;
}


/* FORMS */
.form-control{
	margin: 1em 0;
}

.form-label{
	font-size: 0.8em;
	color: var(--color-white);
}

.ui-mobile label{
	margin: 0.5rem 0;
}
.form-input, 
.form-button{
	display: inline-block;
	width: 100%;
	border-width: 0;
	background-color: var(--color-neutral-lighter);
	font: inherit;
	padding: 0.8em 1em;
	margin: 0;
	outline: 0;
	border-radius: 8px;
}
.form-button{
	background-color: var(--color-yellow);
	text-align: center;
}

.journal-list-item .form-button{
    margin-left: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-body .journal-list-item{
    padding-left: 0.8em;
}


#signin-form,
#signup-form{
	padding: 3.5em;
}

.signin-alt{
	padding: 1em; 
	text-align: center; 
	font-size: 0.8em;
    color: var(--color-neutral-lighter);
}

.signin-alt a{
    text-decoration: underline;
    color: var(--color-neutral-lighter);
}

#signin-page [data-role='main'],
#signup-page [data-role='main']{
	background-image: url(../img/signInBg.png);
	background-position: center;
	background-size: cover;
}

#signin-page h1,
#signup-page h1{
	height: 90%; 
    width:100%;
    padding: 0 2em;
    color: var(--color-white);
    font-size: 2.2em;
    font-weight: 700;
    line-height: var(--header-height);
}

#signin-page .logo{
	text-align: center;
}

#signup-password-error-msg,
#signup-error-msg,
#signup-error-msg-empty,
#login-error-msg,
#login-error-msg-empty{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;

    top: 0;
}

.error-hint{
    text-align: center;
    color: var(--color-white);
    font-size: 0.8em;
    padding: 1em 2em;
}

.error-hint a{
    width: 100%;
    height: auto;
    color: var(--color-yellow);
}

#signup-password-error-msg.active,
#signup-error-msg.active,
#signup-error-msg-empty.active,
#login-error-msg.active,
#login-error-msg-empty.active{
    opacity: 1;
    pointer-events: initial;
}


.settings-form-container{
    width: 100%;
    height: auto;
    border-top: 1px solid var(--color-neutral-lighter);
}

.settings-form-control{
    padding: 0 1em;
    margin: 0;
    border-bottom: 1px solid var(--color-neutral-lighter);
}

.settings-form-control .form-input{
    background-color: rgba(0,0,0,0);
    font-size: 0.8em;
    width: 60%;
}

.settings-form-control .form-label{
    width: 15%;
    color: var(--color-black);
}

#profile-form .form-label{
    width: 25%;
}

#account-form .form-label{
    width: 45%;
}

.settings-form-control textarea{
    /*padding-left: 1em;*/
    border:0;
    color: var(--color-neutral-mediumer);
    font-family: var(--font-regular);
    font-size: 0.8em;
}

.settings-form-control textarea.ui-input-text{
    padding: 0;
}


#account-form{
    margin: 0;
}

#account-form img{
    width: 10px;
    height: 20px;
}

#account-form .form-input{
    text-align: right;
    padding: 0.8em 0: 
} 

#account-form a{
    font-weight: normal;
    text-decoration: none;
}

#password-form .form-label{
    width: auto;
}

#password-form .form-input{
    padding: 0 0 1em 0;
}


/* CUSTOMIZED Page */

/* - Recent-page - */
#recent-page [data-role='main']{
	/*background-image: url(../img/map.png);
	background-position: center;
	background-size: cover;*/
}

/* - Recent-page-header - */
#recent-page-head{
	margin: 1.5em auto;
	padding: 0 1em;
}

.icon-menu{
	position: absolute;
	width: 1em;
	height: 1em;
	left: 1em;
	background: url(../img/iconMenu.svg) no-repeat;
}

#recent-search{
    height: 2em;
    margin-top: 1.5em;
    text-align: center;
    position: absolute;
    /*background-color: red;*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
} 

.search{
	display: inline-block;
	width: 14em;
	height: 1.5em;
	position: relative;
    z-index: 100;
}

.search input{
	/*position: absolute;*/
	width: inherit;
    height: inherit;
    border-width: 0;
    border-radius: 24px;
    background-color: var(--color-white);
    outline: 0;
    font-size: 0.8em;
    padding-left: 3em;
    padding-right: 1em;
    /*text-align: center;*/
}

.search > i{
	position: absolute;
	width: 1em;
	height: 1em;
	background: url(../img/iconSearch.svg) no-repeat;
	top: 50%;
	transform: translateY(-50%);
	left: 0.6em;
}

.recent-location{
    position: absolute;
    width: 100%;
    height: 20%;
}

.recent-pin-item{
    position: absolute;
    top: 6em;
    left: 58%;
    width: 3em;
    height: 3em;
    background: url(../img/pin.svg) no-repeat;
    background-size: contain;
}

/*#hamburger-menu-modal .modal-head{
    background-color: var(--color-yellow);
}




#hamburger-menu-modal .modal-body a{
	font-weight: 400;
}

#hamburger-menu-modal ul{
	padding-left: 0.6em;
}

#hamburger-menu-modal li{
	line-height: var(--line-height);
}

#hamburger-menu-modal h5{
	margin: 0.5em auto;
}

#hamburger-menu-modal li:last-child{
	font-size: 0.8em;
	color: var(--color-neutral-medium);
}*/


#list-page header p{
    font-size: 0.8em;
}

.nav-holder{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em;
}

#list-search.search{
    width: 8em;
}

#list-search.search input{
    border-width: 1px;
    border-color: var(--color-neutral-lighter);
    outline: 0;
    padding-left: 2.2em;
    text-align: left;
}




/* PAGE LAYOUTS */
.ui-mobile .ui-page-active{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

[data-role= 'main']{
	flex: 1 1 100%;
	overflow: hidden;
	position: relative;
}

[data-role= 'main'] ul/*, 
#hamburger-menu-modal ul*/{
	list-style-type: none;
	margin: 0px;
}


.ui-header,
.ui-footer{
	flex: none;
	height: var(--header-height);
	line-height: var(--header-height);
	border-width:0;
	background-color: var(--color-white);
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	overflow: hidden;
	position: relative;
    font-family: var(--font-title);
}

.ui-footer{
     z-index: 99;
     font-weight: 700;
}

.ui-header{
    height: var(--header-height);
    line-height: var(--header-height);
    background-color: rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    border-bottom: 1px solid var(--color-neutral-lighter);
    font-weight: 400;
}

.ui-header .ui-title {
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
}


.ui-header ul,
.ui-footer ul{
	position: relative;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ui-footer li{
	flex: 1 1 100%;
	text-align: center;
}

.ui-footer li.active{
    color: var(--color-yellow);
}

.ui-footer li a{
	font-size: 0.7em;
	font-family: var(--font-title);
}


.ui-header a,
.ui-footer a{
	display: block;
	padding: 0 1em;
}

.ui-input-text{
    margin: 0;
}


#user-profile-page .ui-header{
    border-bottom: 0px;
}

.header-filter{
    border-bottom: 0px;
}

#list-page .ui-header,
#journal-page .ui-header{
    background-color: var(--color-yellow);
    color: var(--color-white);
}

#animal-journal-page .ui-footer li{
    flex: auto auto auto;
   
}

#animal-journal-page .ui-footer li:first-child{
     text-align: left;
}

#animal-journal-page .ui-footer li:last-child{
    text-align: right;
}

#animal-journal-page .ui-footer a{
    font-family: var(--font-regular);
    font-size: 1em;
}



/* MODALS */
.modal{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 0.3s;
	opacity: 0;
	pointer-events: none;
	top: 0;
    z-index: 50;
}

.modal.active{
	opacity: 1;
}
.modal-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

/* Modal toast */
.modal-toast{
    position: absolute;
    width: auto;
    background-color: var(--color-white);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    border-radius: 0.2em;
    /*padding: 0.5em 1em;*/
    /*text-align: center;*/
    right: 1em;
    top: 3.5em;
    /*left: 50%;*/
    transition: all 0.3s;
    font-size: 0.8em;
    z-index: 99;
    /*pointer-events: initial;*/
}

.modal-toast li{
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--color-neutral-lighter);
}

.modal-toast li:last-child{
    border-bottom: 0px; 
}

.modal-toast.top{
    top: 1em;
    transform: translate(-50%, -1em);
}
.modal-toast.bottom{
    bottom: 1em;
    transform: translate(-50%, 1em);
}

.modal-toast-bottom{
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    border-radius: 0.4em;
    bottom: 5em;
    /*left: 50%;*/
    transition: all 0.3s;
    font-size: 0.8em;
    padding: 1em 0.5em;
}


.modal.active .modal-toast,
.modal.active .modal-toast-bottom{
    /*transform: translate(-50%, 0);*/
    pointer-events: initial;
}

/* modal popup */
.modal-popup{
	position: absolute;
	/*top: 50%;*/
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s;
	width: 70vw;
    line-height: var(--header-height);
    bottom: 0.2em;
    text-align: center;
    color: var(--color-blue);
}

.modal-body-up,
.modal-body-down{
    border-radius: 0.8em;
    margin-bottom: 0.5em;
	background-color: var(--color-white);
}

.modal-body-up li:first-child{
    border-bottom: 1px solid var(--color-neutral-lighter);
}

.modal-head, .modal-foot{
	background-color: var(--color-neutral-lighter);
	padding: 0.5em 1em;
}

.modal.active .modal-back,
.modal.active .modal-popup{
	pointer-events: initial;
}

.modal.active .modal.popup{
	transform: translate(-50%, -50%);
}


/* modal draw */
.modal-drawer{
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	box-shadow:  0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right{
	height: 100%;
	width: 70vw;
}

.modal-drawer.left{ left:0; transform:translateX(-100%);}
.modal-drawer.right{ right:0; transform:translateY(-100%);}

.modal-drawer.top,
.modal-drawer.bottom{
	height: 30vh;
	width: 100%;
}

.modal-drawer.top{ top: 0; transform: translateY(-100%);}
.modal-drawer.bottom{ bottom: 0; transform: translateY(100%);}

.modal-drawer.center{
	width: 60%;
	height: auto;
    background-color: var(--color-neutral-medium);
}

.modal-drawer.center{ top:50%; left:50%; transform: translate(-50%, -50%); }

.modal.active .modal-drawer{
	transform: translate(0);
	pointer-events: initial;
}

.modal-drawer .modal-body{
	flex: 1 1 100%;
}

.modal-foot input {
    display:block;
    width:100%;
    text-align:right;
    border-width:0;
    font-weight:bold;
    background-color:transparent;
    outline:0;
}

/*#add-modal .modal-head,
#add-modal .modal-foot{
    background-color: var(--color-white);
}

#add-modal .modal-drawer.bottom{
    width: 100%;
    height: 100%;
}

#add-modal .modal-body{
    background: url(../img/cameraSelectFake.jpg) no-repeat;
    background-size: cover;
}*/





/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }

/* Circle button */

.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
    right: 0em;
}
.modal-close-floater.top {
    top: 0em;
    transform: translateY(-100%);
}

.modal-close-floater .btn-circle img{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-48%, -54%);
    width: 30%;
    height: 30%;
}



.btn-circle,
.profile-photo{
    background-color: white;
    line-height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 1.5em;

    height: 2.5rem;
}

.btn-add {
	position: absolute;
    background-color: var(--color-yellow);
    /* line-height: 3rem; */
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, calc(-50% + 0.2em));
}

.btn-add i{
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background:url(../img/iconAdd.svg) no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-nav-recent,
.btn-nav-list{
	position: relative;
    height: 2rem;
    display: block;
    text-align: center;
    line-height: var(--header-height);
}

.btn-nav-recent i,
.btn-nav-list i{
	position: absolute;
    width: 2em;
    height: 2em;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 0.8em));
}

#recent-page .btn-nav-recent i{
    background: url(../img/iconRecent.png) no-repeat;
    background-size: cover;
}

#recent-page .btn-nav-list i{
    background: url(../img/iconListDeactive.png) no-repeat;
    background-size: cover;
}

#recent-page .btn-nav-list{
    color: var(--color-neutral-medium);
}

#list-page .btn-nav-recent i{
    background: url(../img/iconRecentDeactive.png) no-repeat;
    background-size: cover;
}

#list-page .btn-nav-list i{
    background: url(../img/iconList.png) no-repeat;
    background-size: cover;
}

#list-page .btn-nav-recent{
    color: var(--color-neutral-medium);
}

.list-add,
.list-select,
.list-photo{
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.list-select-holder{
    position: relative;
    margin: 1em 0;
    padding: 0 1em;
    width: 100%;
    height: 1.5em;
}

.list-select-button img{
    width: 1.2em;
    height: 1.2em;
    margin-left: 1em; 
}

.list-photo i{
    position: absolute;
    width: 1em;
    height: 1em;
    background:url(../img/iconPhoto.svg) no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-add i{
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    background:url(../img/iconAnimalAdd.svg) no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-select i{
    position: absolute;
    width: 1em;
    height: 1em;
    background:url(../img/iconAnimalSelect.svg) no-repeat;
    top: 50%;
    left: 10%;
    transform: translate(-50%, calc(-50% + 0.2em));
}

.list-show i{
    position: absolute;
    width: 1em;
    height: 1em;
    background:url(../img/iconShowList.svg) no-repeat;
    top: 50%;
    left: 10%;
    transform: translate(-50%, calc(-50% + 0.2em));
}

#list-page .overscroll{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 1.5em;
    margin-bottom: 4em;
    /*flex-flow: row wrap*/
}

/*#list-page .overscroll ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 1em;
    margin-bottom: 4em;
    flex-flow: row wrap;
}*/

#list-page .overscroll .grid-item{
    position: relative;
    width: 100%;
    height: 54vw;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: left;
    font-size: 1em;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    font-family: var(--font-title);
    padding-bottom: 0.5em;
}

#list-page .overscroll .grid-item figure{
    margin: 0px;
    width: auto;
    height: 80%;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-page .overscroll .grid-item img{
    width: auto;
    height: 100%;
    border-radius: 0.5em;
}

#list-page .overscroll .grid-item figcaption{
    font-family: var(--font-title);
    margin-top: 0.3em;
    padding-left: 0.5em;
    font-weight: 600;
}

#list-page .overscroll .grid-item p{
    margin: 0.4em auto;
    font-weight: 400;
    font-size: 0.8em;
    padding-left: 0.6em;
    color: var(--color-neutral-dark);
}

/*#list-page .overscroll li{
    position: relative;
    width: 42%;
    height: 54vw;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: left;
    font-size: 0.8em;
}

#list-page .overscroll li figure{
    margin: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 0.8em; 
}

#list-page .overscroll li img{
    width: inherit;
    height: auto;
    border-radius: 0.5em;
}

#list-page .overscroll li p{
    margin: 0.1em auto;
    font-weight: 400;
    font-size: 0.8em;
}*/


/* Profile */
.profile-photo{
    margin: auto 0.5em;
    overflow: hidden;
    text-align: center;
}

.profile-photo img{
    width: inherit;
    height: auto;
    object-fit: cover;
}

.profile-body{
    text-align: center;
    margin-bottom: 2em;
}

#user-profile-page .profile-image{
    margin: 0 auto;

}
.profile-image{
    position: relative;
    text-align: center;
    margin: 1em auto;
}

.profile-image a{
    margin-top: 0.5em;
    font-size: 0.8em;
    color: var(--color-blue);
}

#profile-settings-page .profile-image img{
    width: calc(50vw - 5em);
    height: calc(50vw - 5em);
}

.profile-image img{
    border-radius: 50%;
    width: calc(50vw);
    height: calc(50vw);
    object-fit: cover;
}

.profile-body h2{
    margin: 0.2em;
}

/*-- animal profile */
#user-profile .profile-others{
    padding: 0 1em; 
}

.profile-others{
    position: relative;
    flex: 1 1 100%;
    width: 100%;
}

#animal-profile-page .profile-others{
     height: 55%;
}

.tablist{
    position: relative;
    /*margin: 0.5em 0;*/
    /*height: 45px;*/
}

/*.profile-others-content*/
.contentlist{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 2.2em;
    flex: 1 1 100%;
}

#animal-profile-page .profile-others ul{
    padding:0; 
}

.profile-others ul{
    padding:0.5em 0; 
    /*border-top: 1px solid var(--color-neutral-lighter);*/
    /*border-bottom: 1px solid var(--color-neutral-lighter);*/
}

.profile-others li{
    padding: 0.8em 0;
}

.profile-others li.active{
    border-bottom: 3px solid var(--color-yellow);
}

.profile-others a{
    text-align: center;
}

.profile-others .nav-icon{
    font-size: 1em;
}


.profile-item{
    position: relative;
    width: 45%;
    height: 25vw;
    background-color: var(--color-neutral-lighter);
    border-radius: 0.4em;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 1em;
}

.item-content{
    position: relative;
    height: 60%;
}

.item-content h4,
.item-content h3{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}

.item-title{
    width: 100%;
    height: 30%;
    font-size: 0.8em;
}





/* Grid Container */
#select-animal-page .animal-list-placeholder{
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
} 
.animal-list-placeholder{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--font-title);
    color: var(--color-neutral-light);
}

.journal-list-placeholder{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    font-family: var(--font-title);
    color: var(--color-neutral-light);
}

.animal-photo-list{
    position: absolute;
    width: 100%;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    font-family: var(--font-title);
    color: var(--color-neutral-light);
}

.animal-photo-list .img-placeholder,
.journal-list-placeholder .img-placeholder,
.animal-list-placeholder .img-placeholder{
    margin-top: 1em;
    width: 50%;
    height: auto;
}


.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30vw);
    /*padding: 0.5em;*/
}

.animal-grid-container{
    margin-top: 1em;
    display: grid;
    /*grid-gap: 2em;*/
    grid-column-gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5.5em;
    /*grid-template-rows: repeat(3, 30vw);*/
}   

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*width: 50px;
    height: auto;*/
    /*overflow: hidden;*/
}



/* Setting list */
.settings-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settings-item a {
    display: block;
    padding: 0.5em 1em;
    /*border-bottom: 1px solid var(--color-neutral-lighter);*/
    position: relative;
}


.settings-item a:not([href="#"])::after{
    position: absolute;
    top:50%;
    right: 1em;
    transform: translateY(-50%);

    background-image: url('../img/iconMore.svg');
    background-size: 10px 20px;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

#settings-page ul{
    font-family: var(--font-regular);
    font-size: 1em;
    border-top: 1px solid var(--color-neutral-lighter);
}



/* Navigation Style */
footer ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-icon img {
    width: 1.4em;
    height: 1.4em;
    vertical-align: text-bottom;
}

.nav-icon {
    line-height: calc(var(--line-height) * 0.6);
    font-size: 1.4em;
}

.nav-label {
    line-height: calc(var(--line-height) * 0.4);
    font-size: 0.7em;
}


.nav-icon.add-location{
    line-height: var(--line-height);
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 2em;
    height: 2em;
    background-color: var(--color-yellow);
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    border-radius: 1.5em;
}

.nav-icon.add-location img{
    width: 0.8em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.nav-in-header{
    width: 1em;
    height: 1em;
}




.animal-profile-header{
    position: absolute;
    top: 1em;
    width: 100%;
    height: auto;
    padding: 0 1em;
    z-index: 2;
}

.animal-profile-header ul{
    padding: 0;
}

.animal-profile-header svg{
    stroke: white;
    fill: white;
}

.animal-banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 45%;
    overflow: hidden;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-banner img{
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: auto;
   /* max-width: 100%;
    max-height: 100%;
    display: block;*/
}

.animal-banner-intro{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(255,255,255, 0),rgba(0,0,0, .8));
    padding: 1em 1.5em;
}

.animal-banner h4{
    margin-left: 0.5em; 
    font-weight: 400;
}

.details{
    margin-top:0.2em;
    color: var(--color-neutral-lighter);
    font-size: 0.6em;
}

.animal-profile-map{
    position: relative;
    width: 100%;
    height: 40vw;
    margin: 1em 0;
    background-color: red;
    background: var(--color-neutral-lighter) url("../img/mapAnimalProfile.png") no-repeat;
    background-size: cover;
}

.animal-journal-item{
    width: 100%;
    height: 4vw;
    background-color: red;
    border-bottom: 1px solid var(--color-neutral-lighter);
}


.animal-journal-header{
    position: absolute;
    width: 100%;
    height: var(--header-height);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.5em;
}

.animal-journal-header h3,
.animal-journal-header p{
    margin: 0;
}

#animal-journal-content .animal-journal-location{
    padding: 0 1em;
}

.animal-journal-location {
    color: var(--color-blue);
    font-size: 0.8em;
}

.animal-journal-location img{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
}


.animal-journal-location-map{
    position: relative;
    width: calc(100% - 2em);
    height: 30vw;
    overflow: hidden;
    /*background: var(--color-neutral-lighter) url(../img/mapSingleAnimal.png) no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    margin: 1em 1em;
    border-radius: 0.4em;
}

.animal-journal-photo{
    position: relative;
    width: 100%;
    height: 80vw;
    overflow: hidden;
    background-color: var(--color-neutral-lighter);
}

.animal-journal-photo img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    object-fit: cover;
}

.animal-journal-text{
    position: relative;
    padding: 1em 1.5em;
    font-size: 0.8em;
}

.animal-journal-text form{
    /*margin: 1em 0;*/
    width: 100%;
    height: 20vw;
    overflow: hidden;
}

.animal-journal-text textarea{
    width: 100%;
    height: inherit;
    text-align: left;
    font-family: var(--font-regular);
    border-width: 0;
}

.animal-edit-photo{
    position: relative;
    width: 100%;
    /*height: 20vw;*/
    padding: 0 1.2em;
}

#add-new-animal .animal-edit-banner-image{
    background-color: var(--color-neutral-mediumer);
}

.animal-edit-banner-image{
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
    color: var(--color-blue);
    font-size: 0.8em;
    text-align: center;
}

.animal-edit-banner-image img{
    height: 50vw;
    width: 100%;
    margin-bottom: 0.5em;
    object-fit: cover;
}

.add-banner-image{
    width: inherit;
    height: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.add-banner-image img{
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 0;
    margin-right: 0.2em;
}

.add-banner-image p{
    color: var(--color-white);
}

.add-photo-item{
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 0.4em;
    background-color: var(--color-neutral-lighter);
    margin-right: 0.2em;
}

.add-photo-item img{
    width: auto;
    height: inherit;
}

.add-photo-item.add img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6vw;
    position: 6vw;
}

.select-animal-item{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em 3em 1em 1em;
    font-size: 0.8em;
    line-height: var(--line-height);
}

.js-animal-select.active{
    border: 2px solid var(--color-yellow);
    border-radius: 3em;
    padding-left: 1em;
}

.select-animal-item li{
    padding: 1em 1em 1em 0.5em;
    border-bottom: 1px solid var(--color-neutral-lighter);
}
.select-animal-item li:last-child{
    /*border-bottom: 0px;
    padding-bottom: 1em;*/
}

.select-animal-item img{
    width: 3em;
    height: 3em;
    border-radius: 3em;
    overflow: hidden;
    object-fit: cover;
    margin-right: 0.5em;
}

.select-alphabet{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    font-size: 0.7rem;
    color: var(--color-blue);
    line-height: 1.5em;
}

.modal-toast-bottom .journal-list-container{
    padding: 0.5em 0.5em;
}

.modal-toast-bottom .journal-list-item{
    margin-bottom: 0;
}

.journal-list-container{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em 1em 2em 1em;
}

.journal-list-item{
    width: 100%;
    height: 15vw;
    overflow: hidden;
    /*background-color: red;*/
    font-size: 0.8em;
    margin-bottom: 1.5em;
}

.journal-list-item a{
    width: inherit;
    height: inherit;
}

.journal-data{
    width: 8%;
    margin-right: 0.5em;
}

.journal-list-photo{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    overflow: hidden;
}

.journal-list-photo img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.modal-body .journal-content{
    width: 50%;
}


.modal-body .journal-content{
    -webkit-line-clamp: 3;
}

.modal-body .journal-text{
    -webkit-line-clamp: 3;
}

.journal-content {
    width: 64%;
    height: 100%;
    line-height: 1.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    justify-content: space-between;
    position: relative;
}

.journal-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.journal-content .animal-journal-location{
    /*margin-top: 1em;*/
    /*padding: 0;*/
    position: absolute;
    bottom: 0;
    line-height: 1em;
}




.btn{
    width: 100%;
    height: var(--header-height);
    /*text-align: center;*/
    /*margin: 2em 0;*/
    /*color: var(--color-white);*/
    font-size: 0.8em;
    position: relative;
}

.btn a{
    padding: 0;
}

.btn p{
    padding: 0.5em 4em;
    border-radius: 1.5em;
    margin-left: 0.9em;
}

.btn .nav-icon.add{
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.nav-icon.add{
    line-height: var(--line-height);
    position: absolute;
    width: 2em;
    height: 2em;
    border: 2px solid var(--color-yellow);
    border-radius: 1.5em;
    z-index: 100;
}

.nav-icon.add img{
    width: 0.8em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.map{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}




.hotdog{
    width: 100%;
    background-color: var(--color-white);
    padding: 0.5em 1em;
    border-radius: 2em;
    line-height: 1;
    display: inline-flex;
}

.hotdog input{
    background-color:transparent;
    border-width: 0;
    font: inherit;
    /*color: inherit;*/
    color: var(--color-neutral-mediumer);
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    outline: 0;
}
.ui-header .hotdog{
    height: calc(var(--header-height) - 0.4em);
    vertical-align: middle;
}


.list-search{
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    width: 100%;
}

.filter-list{
    display: flex;
    overflow: auto;
    color: var(--color-black);
}


/*#journal-upload-photo-form,


.edit-image-uploader{
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
    background-color: var(--color-neutral-lighter);
    background-size: cover;
    background-repeat: no-repeat;
}


.journal-photo-uploader{
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 0.4em;
    background-color: var(--color-neutral-lighter);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.image-uploader{
    position: relative;
    width: 42vw;
    /*background-image: url(uploads/1607227055.5859_Screen Shot 2020-12-05 at 7.57.24 PM.png);*/
    height: 42vw;
    background-color: var(--color-neutral-lighter);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.image-uploader input {
   position: absolute;
   bottom: -2em;
}


.animal-image-from{
    width: 100%;
    height: 62vw;
}


#user-upload-form{
    padding-top: 0.5em;
    width: inherit;
    height: calc(42vw + 3.2em);
}

#upbutton{
    width: 100%;
    height: auto;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: var(--color-blue);
}
#user-upload-input{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}


.list-header-bar{
    width: 92%
}

.button-add-link{
    position: relative;
    width: inherit;
    height: 100%;
}

.icon-add{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.filter-list {
    display: flex;
    overflow: auto;
    color: var(--color-black);
    padding-top: 0.4em;
}

.filter{
    width: 100%; 
    height: 80%;
    padding: 0 0.8em;
    margin-left: 0.3em;
    color: #000;
    border: 2px solid #ffc700;
    border-radius: 2em;
    height: 2em;
    margin-top: 0.4em;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.filter p{
    position: relative;
    top: -36%;
}


#animal-profile-page .map{
    height: 0;
}



.photo-uploader input {
    display:none;
}

.ui-mobile label{
    margin: 0;
}

#user-image-add-form{
    position: relative;
    width: 100%;
    height: 60vw;
}

#animal-image-add-form{
    position: relative;
    width: 100%;
    height: 60vw;
}

.photo-uploader.banner-add-new,
.photo-uploader.banner{
    position: relative;
    width: 100%;
    height: 60vw;
    /*overflow: hidden;*/
    background-color: var(--color-neutral-lighter);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-uploader.thumbnail{
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.1);
    position:relative;
}
.photo-uploader.thumbnail:not(.picked){
  /*border:2px solid var(--color-neutral-light);*/
}
/* This will add the floating plus symbol to the imagepicker */
.photo-uploader.banner-add-new:before,
.photo-uploader.thumbnail:before {
    color:var(--color-neutral-light);
    content:'+';
    position:absolute;
    font-size:3em;
    vertical-align:middle;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.photo-uploader.banner-add-new:before{
    font-size: 1rem;
    white-space: nowrap;
    content: '+ Add Profile Banner Image';
}
/* This will hide the plus symbol behind the background of the imagepicker if the class "picked" is added to the element */
.photo-uploader.banner-add-new.picked:before,
.photo-uploader.thumbnail.picked:before {
  z-index:-1;
}



.gm-style img{
    border-radius: 0.5em;
}



























